<p-menubar>
  <ng-template pTemplate="start">
    <h1 (click)="goToHome()" class="text-2xl">Mamas Rezepte</h1>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex flex-row">
      <form (ngSubmit)="search()" class="w-8rem sm:w-auto mr-2">
        <input type="text" pInputText [(ngModel)]="searchQuery" name="search" placeholder="Suchen" />
      </form>
      <p-button (onClick)="createNewRecipe()" type="button" icon="pi pi-plus"></p-button>
    </div>
  </ng-template>
</p-menubar>
