@if(recipe) {
  <div class="flex flex-column">
    <h3 class="mb-3">{{ recipe.title }}</h3>

    <div class="mb-3">
      <p-chip [label]="tag" *ngFor="let tag of recipe.tags" class="mr-1"></p-chip>
    </div>

    <div class="mb-3" [innerHTML]="recipe.description"></div>

    <p-galleria
      *ngIf="recipe.images"
      [value]="recipe.images"
      [circular]="true"
      class="mb-3"
      [showItemNavigators]="true"
      [containerStyle]="{'max-width': '400px'}"
      [showThumbnails]="false">
      <ng-template pTemplate="item" let-item>
        <img src="{{imagePaths[item]}}" alt="Image" style="width: 100%; display: block; height: 300px; object-fit: cover;" />
      </ng-template>
    </p-galleria>

    <p-button icon="pi pi-pencil" (onClick)="editRecipe()"></p-button>
  </div>
}


