<form>
  <div class="flex flex-column">
    <label for="title" class="mb-2">Titel</label>
    <input pInputText type="text" name="title" id="title" class="mb-3" [(ngModel)]="recipe.title" />

    <label for="tags" class="mb-2">Tags</label>
    <p-chips id="tags" name="tags" class="mb-3" [(ngModel)]="recipe.tags" />

    <label for="description" class="mb-2">Beschreibung</label>
    <p-editor id="description" name="description" [(ngModel)]="recipe.description" class="mb-3"></p-editor>

    <button pButton type="submit" (click)="saveRecipe()">Speichern</button>
  </div>
</form>


